@import url(null.css);
@import url(preloader.css);

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@400;500;800&family=League+Spartan:wght@600&family=Orbitron:wght@700&family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

/*
font-family: 'Aldrich', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.wrapper{
    background: rgba(32, 8, 59, 1);
    backdrop-filter: blur(92.3058px);

    font-family: 'Orbitron';
    font-weight: 700;
    color: #FFFFFF;
}

._content{
    max-width: 1290px;
    padding: 0 25px;
    margin: 0 auto;
}



//===HEADER===

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 50px 0;

    .header__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo{
            flex-basis: 25%;
            padding-right: 10px;
        }
    
        .header__menu{
            flex-basis: 35%;
        }
    
        .header__icons{
            flex-basis: 40%;
            display: flex;
            
            justify-content: end;

            a{
                padding: 10px;
                margin-left: 6%;
                transition: 0.3s;

            }

            a:hover{
                transition: 0.3s;
                transform: scale(1.25);
            }

            a:active{
                transition: 0.1s;
                transform: scale(1);
            }
        }
    }
}

.logo{
    display: flex;
    align-items: center;

    span{
        font-size: 19.8983px;
        line-height: 25px;
    }

    .logo__text_ocean{
        color: rgba(255, 255, 255, 0.6);
    }
}

.menu{
    display: flex;
    justify-content: space-between;

    .menu__item{
        font-size: 19.8983px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);

        padding: 15px 20px;

        transition: 0.15s;
    }

    .menu__item:hover{
        color: #FFFFFF;
        transition: 0.15s;
    }

    .menu__item:active{
        color: rgba(255, 255, 255, 0.6);
        transition: 0.1s;
    }
}

//===MAIN===

.main{
    .main__flex{
        display: flex;
        flex-wrap: wrap;
        padding-top: 200px;
        margin-bottom: 215px;

        .main__info{
            flex-basis: 55%;
        }

        .main__NFT{
            margin-left: 50px;
            //flex-basis: 40%;

            .main__NFT-pictures{
                box-shadow: 1px 3px 5px black;
                border-radius: 20px;

                display: inline-block;
                
                img{
                    border-radius: 20px;
                    width: 100%;
                }
            }

            .main__NFT__seller-card{
                border-radius: 8.84367px;
                max-width: 336px;
                padding: 27px 20px 18px;

                position: relative;

                top: -120px;
                left: 155px;
            }
        }

        .main__partners{
            display: flex;
            justify-content: space-between;
            align-items: center;

            flex-grow: 1;

            .main__partners-left, .main__partners-right{
                display: flex;
                justify-content: space-between;
                align-items: center;

                //flex-grow: 1;

                flex-basis: 47%;

                div{
                    img{width: 100%;}
                }
            }
        }
    }
}

.info{
    h1{
        font-family: 'League Spartan', sans-serif;
        font-weight: 600;
        font-size: 66.3276px;
        line-height: 137.4%;

        margin-bottom: 21px;

        span{
            background: linear-gradient(89.89deg, #FF56F6 2.33%, #42A6E3 101.4%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    p{
        font-family: 'Rajdhani';
        font-weight: 400;
        font-size: 26.531px;
        line-height: 44px;

        margin-bottom: 43px;
    }

    .info__buttons{
        margin-bottom: 70px;

        .button_border-slesh{
            //background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
            background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
            backdrop-filter: blur(106.124px);
            border-radius: 2.21092px;
            //border-radius: 30px 0px 30px 0px;
            //clip-path: polygon(50px 0,100% 0,100% calc(100% - 20px), calc(100% - 50px) 100%,0 100%,0 20px);
            
            font-size: 19.8983px;
            line-height: 25px;

            padding: 20px 32px 19px 67px;

            svg{margin-left: 5px;}
        }

        .info__create{
            background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

            font-size: 19.8983px;
            line-height: 25px;

            margin-left: 37px;
        }
    }
}

.button{
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
    //backdrop-filter: blur(106.124px);
    //border-radius: 2.21092px;

    font-family: 'Orbitron';
    font-weight: 700;
    color: #FFFFFF;

    a{
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg{margin-left: 10px;}
    }
}

.statistic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;

    .statistic__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2{
            font-family: 'Aldrich';
            font-weight: 400;
            font-size: 39.7965px;
            line-height: 53px;
            letter-spacing: 0.221092px;
        }

        h5{
            font-family: 'Aldrich';
            font-weight: 400;
            font-size: 17.6873px;
            line-height: 22px;
            letter-spacing: 0.221092px;
        }
    }

    .statistic__line{
        border-left: 1.10546px solid rgba(255, 255, 255, 0.26);
        height: 60px;
    }
}


.seller-card{
    display: flex;
    justify-content: space-between;

    font-family: 'Rajdhani';

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    backdrop-filter: blur(30.4001px);

    .seller-card__column1{
        h2{
            font-weight: 700;
            font-size: 17.6873px;
            line-height: 35px;
        }

        .seller-card__profile{
            display: flex;
            align-items: center;

            margin-bottom: 6.63px;

            span{padding: 0 3.32px;}
        }

        p{
            font-weight: 600;
            font-size: 11.0546px;
            line-height: 35px;
            opacity: 0.7;
        }

        .seller-card__ETH{
            display: flex;
            align-items: center;
            margin-top: -10px;

            .simple{
                font-family: 'Orbitron';
                font-weight: 700;
                font-size: 9.71776px;
                line-height: 12px;

                margin: 0 5.5px;
            }

            .gray{
                font-family: 'Rajdhani';
                font-weight: 400;
                font-size: 11.0546px;
                line-height: 35px;
                opacity: 0.7;

                padding-top: 2px;
            }
        }
    }

    .seller-card__column2{
        p{
            font-weight: 600;
            font-size: 11.0546px;
            line-height: 35px;
            opacity: 0.7;
        }

        .seller-card__counter{
            display: flex;
            justify-content: space-between;

            margin-bottom: 23px;

            .counter__item{
                display: flex;
                flex-direction: column;

                h3{
                    font-weight: 600;
                    font-size: 17.6873px;
                    line-height: 15px;
                }

                span{
                    font-weight: 500;
                    font-size: 11.0546px;
                    line-height: 15px;
                    opacity: 0.7;
                }
            }
        }

        .seller-card__button{
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 17.6873px;
            line-height: 23px;

            padding: 7.7px 8.8px;

            border-radius: 2.21092px;
        }
    }
}

//===





//===MEDIA===

@media(max-width: 1280px){
    .main{
        .main__flex{
            .main__info{flex-basis: 51%;}

            .main__NFT{
                .main__NFT__seller-card{
                    max-width: none;
                    width: 100%;
                    padding: 27px 20px 18px;
    
                    position: static;
                    margin-top: -130px;
                }
            }

            .main__partners{
                margin-top: 130px
            }
        }
    }
}

@media(max-width: 992px){
    .main{
        .main__flex{
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;

            .main__info{
                text-align: center;

                .info__statistic{
                    margin: 0 auto;
                }
            }

            .main__NFT{
                margin-left: 0;
                order: 3;
            }

            .main__partners{
                width: 100%;

                flex-direction: column;
                justify-content: none;
                align-items: center;

                flex-grow: 1;

                margin-bottom: 100px;

                .main__partners-left{margin-bottom: 80px;}

                .main__partners-left, .main__partners-right{
                    justify-content: space-around;
                    flex-grow: 1;
                    width: 100%;

                    div{
                        //flex-grow: 1;
                        //width: 100%;
                        flex-basis: 30%;

                        img{width: 120%;}
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    .header{
        .header__flex{
            .header__menu, .header__icons{display: none;}
        }
    }
}

@media(max-width: 576px){

}