@import url(null.css);
@import url(preloader.css);

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@400;500;800&family=League+Spartan:wght@600&family=Orbitron:wght@700&family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

/*
font-family: 'Aldrich', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.wrapper{
    background: rgba(32, 8, 59, 1);
    backdrop-filter: blur(92.3058px);

    font-family: 'Orbitron';
    font-weight: 700;
    color: #FFFFFF;
}

._content{
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
}



//===HEADER===
.header{
    padding: 50px 0;

    .header__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo{
            flex-basis: 25%;
            padding-right: 10px;
        }
    
        .header__menu{
            flex-basis: 35%;
        }
    
        .header__icons{
            flex-basis: 40%;
            display: flex;
            
            justify-content: end;

            a{
                padding: 10px;
                margin-left: 6%;
                transition: 0.3s;

            }

            a:hover{
                transition: 0.3s;
                transform: scale(1.25);
            }

            a:active{
                transition: 0.1s;
                transform: scale(1);
            }
        }
    }
}

.logo{
    display: flex;
    align-items: center;

    span{
        font-size: 19.8983px;
        line-height: 25px;
    }

    .logo__text_ocean{
        color: rgba(255, 255, 255, 0.6);
    }
}

.menu{
    display: flex;
    justify-content: space-between;

    .menu__item{
        font-size: 19.8983px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);

        padding: 15px 20px;

        transition: 0.15s;
    }

    .menu__item:hover{
        color: #FFFFFF;
        transition: 0.15s;
    }

    .menu__item:active{
        color: rgba(255, 255, 255, 0.6);
        transition: 0.1s;
    }
}

//===MAIN===
